.outerContainer {
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.85) 6%,
        rgba(0, 0, 0, 0.2) 40%,
        #000 98%
    );
}

.bigcard {
    background-color: black;
    height: 500px;
    width: 890px;
    font-size: 24px;
    color: white;
    display: flex;
    align-self: center;
    gap: 20px;
    border-radius: 0.25rem;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

@media screen and (max-width: 990px) {
    .bigcard {
        width: 500px;
        flex-wrap: wrap;
    }
    .pictureSide {
        display: none;
    }
    .bigcard {
        flex-basis: 100%;
        padding: 50px;
        overflow: scroll;
    }
}

.infoSide {
    text-align: left;
    width: 60%;
    overflow: scroll;
}
.pictureSide {
    overflow: hidden;
    object-fit: cover;
    width: 39%;
    border-radius: 10px 0 0 10px;
}

.infoRow {
    margin: 1.5rem 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: rgb(122, 140, 153);
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoRow span + span::before {
    content: ' • ';
}

#filmLink {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 10px auto; */
}
.logo {
    margin-top: 0;
}

.titleRow {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: 0.01em;
}

#greyText {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: rgb(122, 140, 153);
    font-weight: 500;
}

.overviewRow {
    font-size: 1rem;
    padding-right: 20px;
}

.lastRow {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    max-width: 332px;
}

.listItem {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
}

#close {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    background: transparent;
    line-height: 10px;
}
#close:hover,
#close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
    transform: scale(0.8);
}
#close {
    position: absolute;
    right: 20px;
    z-index: 1000;
    float: right;
    top: 20px;
}
