.card{
    position: relative;
    width:200px;
    max-height: 250px;
}


.cardImg{
    object-fit: cover;
    height:100%;
    width:100%;
	transition: 0.2s all;
}

.overlay{
    color:white;
    font: 25px Roboto, Times, serif;
    display:none;
    opacity: .9;
}

.card:hover .overlay{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#1B2329;

}