.searchbar {
    position: sticky;
    display: flex;
    min-width: 100px;
    width: 100%;
    width: 56%;
    margin: 0 auto;
    top: 0;
    z-index: 100;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}
.search:hover,
.search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

/* #search-icon {
    width: 100px;
    height: 50px;
}

#search-icon svg {
    width: 25px;
    height: 25px;
} */

.search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
}
