.App {
    background-color: #0a1014;
}

.bigContainer {
    padding: 20px;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0px auto;
    min-height: 100vh;
}

.innerContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;

    display: flex;
    max-width: calc(100% + 20px);
    flex-wrap: wrap;
    width: 100%;
}
